body {
  margin: 0 0 0 0;
}

.nav-main {
  display: inline-block;
  font: 0;
}

.nav-list {
  list-style-type: none;
  font-size: 20px;
  margin: 0%;
  padding: 0;
}

li:hover {
  background-color: var(--orange);
}

.list-item {
  background-color: var(--green);
  text-align: center;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  width: 150px;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
}
