body {
  margin: 0 0 0 0;
}

.nav-main {
  font-size: 0;
}

.nav-list {
  list-style: none;
  margin: 0%;
  padding: 0;
  display: inline-block;
}

.list-item {
  display: inline-block;
  margin: 0%;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  background-color: var(--green);
  padding: 30px;
  font-size: medium;
  display: inline-block;
}

.nav-link:hover {
  background-color: var(--orange);
  color: var(--black);
}
