body {
    background: rgb(246, 219, 231);
    background: radial-gradient(
        circle,
        rgba(246, 219, 231, 1) 0%,
        rgba(194, 214, 238, 1) 100%
    );
}

h1 {
    text-align: center;
}

/* Code for exercise 01-flex */
body,
html {
    margin: 0 0 0 0;
}

.nav-main {
    background-color: var(--purple);
}

.nav-list {
    list-style: none;
    margin: 0%;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.list-item {
    display: flex;
    flex-direction: row-reverse;
    margin: 0%;
}

.nav-link {
    text-decoration: none;
    color: var(--white);
    background-color: var(--purple);
    padding: 30px;
    font-size: medium;
    display: flex;
}

.nav-link:hover {
    background-color: var(--green);
}

.nav-link:active {
    background-color: var(--orange);
}

.nav-link:focus{
    border: 1px solid var(--orange);
    outline: none;
}
/* Code for exercise 02-grid */

.item1{
    grid-area: header;
}

.item2{
    grid-area: jumbotron;
}

.item3{
    grid-area: card1;
}

.item4{
    grid-area: card2;
}

.item5{
    grid-area: card3;
}

.item6{
    grid-area: section;
}

.item7{
    grid-area: footer;
}

.grid-container{
    display: grid;
    height: 95vh;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 3fr 3fr 4fr 1fr;
    gap: 10px;
    margin: 10px;
    grid-template-areas: 
    'header header header'
    'jumbotron jumbotron jumbotron'
    'card1 card2 card3'
    'section section section'
    'footer footer footer';
}

@media (min-width: 768px) and (max-width: 1023px){
    .grid-container{
        display: grid;
        height: 95vh;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
        gap: 10px;
        margin: 5px;
        grid-template-areas: 
        'header header'
        'jumbotron jumbotron'
        'section section'
        'card1 card2'
        'footer footer';
    }

    .item5{
        display: none;
    }
}

@media (max-width: 768px){
    .grid-container{
        display: grid;
        height: 95vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 1fr 1fr 1fr;
        gap: 10px;
        margin: 5px;
        grid-template-areas: 
        'header'
        'jumbotron'
        'section'
        'card1'
        'card2'
        'footer';
    }

    .item5{
        display: none;
    }
}